.start {
    position: absolute;
    bottom: 40px;;
    left: 0;
    height: auto;
    width: auto;
    background-color: rgba(36, 36, 36, 0.9);
    backdrop-filter: blur(8px);
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* inset: auto auto 0px 0px; */

    &[data-hide="true"] {
        bottom: 0;
        transform: translateY(120%);
    }

    &-panel {
        display: flex;
        flex-direction: row;
        padding-right: 16px;
        height: 640px;

        &-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 4px;

            &-bottom {
                display: flex;
                flex-direction: column;
                 & > div {
                    padding: 12px;
                 }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-left: 8px;
            padding-top: 8px;
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }
        }

        &-table {
            margin-left: 8px;
            padding-top: 8px;
            padding-left: 12px;
            width: 100%;
            color: #fff;
        }
    }
}