.options {
    display: flex;
    flex-direction: row;
}

.toolbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 600px;
    background-color: #f5f6f7;

    &-item {
        margin: 0 5px;
    }

    &-options {
        display: flex;
        flex-direction: column;
    }

    &-title {
        text-align: center;
    }

    &-colors {
        li {

            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 10px;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
            transition: all 0.3s;
            
            &.black {
                background: black;
            }
            
            &.red {
                background: red;
            }
            
            &.green {
                background: green;
            }
            
            &.blue {
                background: blue;
            }
            
            &.active {
                box-shadow: 0 0 3px rgba(0, 0, 0, 1);
                transform: scale(1.2);
            }
        }
    }
}

.toolpanel {
   display: flex;
   justify-content: center;
}

.canvas {
    width: 910px;
    height: 600px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.active {
    background: #bcdbfa;
}

#range {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border: none;
    transform-origin: 75px 75px;
    -webkit-appearance: none; /* 去除默认样式 */

    &::-webkit-slider-thumb {
      top: 0;
      width: 20px;
      height: 20px;
      cursor: default;
      background: #fff;
      border: 5px solid deepskyblue;
      border-radius: 15px;
      transform: translateY(0);
      -webkit-appearance: none; /* 去除默认样式 */
    }
  }